{% extends "dswEvalBundle::layout.html.twig" %}
{% block title %}{{ parent() }}{% endblock %}
{% block dsw_eval_content %}
   
    <h1>Évaluation 360° - Présentation du questionnaire</h1>
    
    
    <p>Pour évaluer les façons de faire ACTUELLES de votre sous-directeur, nous vous invitons à utiliser la grille suivante.</p>
    <p>Ce qui est dit :</p>
    
    <table class="table">
        <tbody>
        
            <tr>
                <td>Lui correspond tout à fait, c'est tout à fait ce qu’il fait, pense</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Lui correspond souvent, c'est souvent ce que il fait, pense</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Correspond à ce que de temps à autre il fait, pense</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Ne lui correspond pas du tout, ce n'est pas du tout ce qu’il fait, pense</td>
                <td>0</td>
            </tr>
        
        </tbody>
    </table>
    
    <h3 class="mt-5">Un point de vigilance</h3>
    <p>Les 48 phrases sont regroupées par thème (décider, organiser, …).</p>
    <p>Nous vous demandons de bien vouloir, pour chaque thème, utiliser l'ensemble de la grille.</p>
    <p>Par exemple pour le thème « Décider », au moins 1 phrase sera cotée 0, au moins une sera cotée 2, au moins une 4, au moins une 6. Et ainsi pour chacun des 6 thèmes composant ce questionnaire.</p>
    
    <a href="{{ path('dsw_eval_theme', { 'id': 1 }) }}" class="btn btn-primary">Répondre aux questions</a>

{% endblock %}
