{% extends "dswEvalBundle::layout.html.twig" %}
{% block title %}{{ parent() }}{% endblock %}
{% block dsw_eval_content %}
   
    <h1>Le profil managérial du sous-directeur</h1>
    <p>Indiquer, en quelques mots, quelques phrases et sans trop réfléchir, ce qui, d’après vous, caractérise le management de votre sous-directeur.</p>
   
    {{ form_start(form) }}
       
        {# form_widget(form) #}
        
        {{ form_widget(form.reponse) }}
        
        <input type="submit" value="Valider et terminer le questionnaire" class="btn btn-primary mt-3" />
        
    {{ form_end(form) }}
    
{% endblock %}
