{% extends "dswCoreBundle::base.html.twig" %}

{% block body %}
<div class="container my-5">
  
    {# Commun à tout dswAmpliBundle #}
    <div class="jumbotron jumbotron-fluid text-center mb-0 jumbo_ampli">
    <div class="container">
    {% block jumbo_ampli %}
    <h1>L'Ampli</h1>
    <p>Ce projet est en construction !</p>
    {% endblock %}
    </div>
    </div>
    
    {# On affiche les messages flash que définissent les contrôleurs du bundle #}
    {% for key, messages in app.session.flashbag.all() %}
    {% for message in messages %}
    <div class="alert alert-dismissible fade show alert-{{ key }}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
    {% endfor %}

    {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
    {% block dswampli_body %}
    {% endblock %}

</div>
{% endblock %}