{% trans_default_domain 'FOSUserBundle' %}

<div class="container my-5">

    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
       
        {{ form_widget(form) }}
        
        <div class="text-center mx-auto">
            <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary mb-4" />
        </div>
            
    {{ form_end(form) }}

</div>
