/* ###########
* POLICES
########## */



@font-face {
    font-family: 'Source Sans Pro';
    src: url('css/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    src: url('css/fonts/SourceSansPro-Italic.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    src: url('css/fonts/SourceSansPro-Semibold.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: bold;
    src: url('css/fonts/SourceSansPro-BoldItalic.ttf');
}


@font-face {
    font-family: 'Arvo', serif;
    src: url('css/fonts/Arvo-Regular.ttf');
}


@font-face {
    font-family: 'Arvo', serif;
    font-style: italic;
    src: url('css/fonts/Arvo-Italic.ttf');
}



@font-face {
    font-family: 'Arvo', serif;
    font-weight: bold;
    src: url('css/fonts/Arvo-Bold.ttf');
}



@font-face {
    font-family: 'Quattrocento Sans', sans-serif;
    src: url('css/fonts/QuattrocentoSans-Regular.ttf');
    
}

@font-face {
    font-family: 'Quattrocento Sans', sans-serif;
    font-style: italic;
    font-weight: bold;
    src: url('css/fonts/QuattrocentoSans-BoldItalic.ttf');
    
}

@font-face {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    src: url('css/fonts/QuattrocentoSans-Bold.ttf');
}


/* ###########
* TYPO
########## */

body {
    padding: 54px 0 0 0;
    background-color: #f9f7f6;
    font-family: 'Quattrocento Sans', sans-serif;
    color: #262626; 
    /* background: radial-gradient(circle, #2BC0E4, #EAECC6); */
}

.navbar-brand {
    font-family: 'Arvo', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: bold;
    font-family: 'Arvo', sans-serif;
}

h1 {
    font-size: 26px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 18px;
}

.soustitre {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    margin-bottom: 16px;
}

.info_message, .info_message a {
    font-size: 12px;
    color: #9199a1;
}

.info_message a {
    text-decoration: none;
    cursor: pointer;
}


/* ###########
* VOTES
########## */

.vote {
    cursor: pointer;
}

.px-05 {
    padding: 0 10px;
}


/* ###########
* NAVBAR
########## */

.navbar-default {
    background-color: #113f79;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #aaa;
}

.navbar-default .navbar-brand, .navbar-default .navbar-text {
    color: #fff;
}

.navbar-toggler {
    color: #fff;
}

.navbar-brand {
    margin-right: 30px;
}


/* ###########
* CARDS
########## */

.idee_liste_vote .card-title {
    font-size: 20px;
}

.idee_liste_vote .card-text {
    font-size: 14px;
}

.idee_liste_vote .card_infos {
    font-size: 14px;
    color: #3b3b3b;
}





a {
    text-decoration: none !important; 
}



.no-gutters {
  margin-right: 0;
  margin-left: 0;

}

.no-gutters [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}


.card {
    /* background: #fff; */
    padding: 0;
    border: 0;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card .list-group {
    margin-bottom: 0;
}

.card .list-group-item {
    padding: 20px;
    font-size: 18px;
}

.card table {
    margin: 0;
}

.card_clickable:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.color-overlay {
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    /*background-color:#000;
    opacity:0.5;*/
    z-index: 100;
    display: block;
    border-radius: .25rem;
    -webkit-transition: background 0.64s; /* Safari */
    transition: background 0.64s;
}

.card_clickable:hover .color-overlay {
  background: rgba(64, 64, 70, 0.6);
}


.card-info {
    color:#fff;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    position: absolute;
    top: -40px;
    left: 0;
    margin: 0 auto;
    padding: 0 50px;
    z-index: 120;
    opacity: 0;
    text-align: center;
    transition: top 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card_clickable:hover .card-info {
    opacity: 1;
    top: 45%;
}




/* ###########
* BOUTONS
########## */

.btn-gradient {
    background: radial-gradient(circle, #2BC0E4, #EAECC6);
}


/* ########### 
* AUTODIAGS
########## */

.question {
	font-weight: 600;
	font-size: 1.2em;
    color: #2f2f2f; 
    font-family: 'Source Sans Pro', sans-serif;
}

.reponse {
    width: 100%;
    text-align: left;
    white-space: normal;
    min-height: 100px;
    background-color: white;
    color: #000;
    border: none;
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
    
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
    background-color: #445CB8;
    background-color: #FFFFFF;
    background-image: -webkit-linear-gradient(#434343 0%, #2f2f2f 100%);
    background-image: -o-linear-gradient(#434343 0%, #2f2f2f 100%);
    background-image: linear-gradient(#434343 0%, #2f2f2f 100%);

    color: #FFF;
    
    padding: 0 16px;
        
}

.reponse:hover {
    background-color: #445CB8;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.reponse_scale {
    min-height: 60px;
}

label {
    margin: 0;
}

.panel_gauche {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 9999px;
    /* background-color: #081F77; */
    /* background-color: #673AB7;  */ 
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.panel_droite {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 9999px;
    background-color: #FFF;   
}

form .btn-group-vertical .btn {
    text-align: left;
    white-space: normal;
    min-height: 80px;
}

form .bouton_scale .btn {
    text-align: left;
    white-space: normal;
    min-height: 50px;
}

form .btn-group-vertical {
    margin-bottom: 20px;
    width: 100%;
}

.container_reponses input[type="radio"] {
    display: none;
}

.container_reponses .active {
    background-color: #445CB8;
    color: #fff;
    /* border: solid 5px #4B96AE; */
    /* padding-left: 30px; */
    /* font-weight: bold; */
    
    background-color: white;
    color: #000;
    
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.container_reponses input[type="submit"] {
    background-color: #009688;
    border-color: #009688;

}


    

@media (max-width: 768px) {

    /*.question {
        min-height: 30vh;
    }
    
    .question {
        min-height: 30vh;
    }*/
    
    .reponse {
        min-height: 70px;
    }
}
    


}





/* ###########
* LMS
########## */

.bandeau_cours {
    background-color: #113f79;
    color: #FFF;
    margin-bottom: 0; 
    
}


/* ###########
* ESPACE
########## */

.card_fil {
    /* card-header */
    background-color: #0C53AC;
    color: #fff;
}

#container_chat {
    max-height: 350px;
    overflow: auto;
}

.header_bleu > h1, .card_fil > h1 {
    margin: 0;
    padding: 20px;
}

.fil .card-block, .block_chat {
    padding: 5px 20px;
}

.hr_thin {
    margin: 0;
}




@media (max-width: 767px) {
	header {
		/* display: none; */
	}
	body {
		/* padding: 0; */
	}
    .panel_gauche {
    width: 100%;
}
        .panel_droite {
    display: none;
}
		
}

.module_menu {
    margin-top: 10px;
}


.footer_client {
    margin-top: 15px;
}








/* ########## Fil de discussion ########## */

.card_module {
    padding-bottom: 0;
}




.vertical-align {
    display: flex;
    align-items: center;
}

.style_lien {
  color: #0275d8;
  text-decoration: none;
    cursor: pointer;
}

.style_lien:focus, .style_lien:hover {
  color: #014c8c;
  text-decoration: underline;
}

.style_lien:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}




.fa_activite {
    margin: 0 30px 0 0;
}

.table_utilisateurs {
    max-height: 10px;
}

.table td {
    padding-top: 4px;
    padding-bottom: 4px;
}


/* ##############################################
* ADMIN
############################################## */



/*
 * Sidebar
*/

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}



/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}




.flex_row {
   display: flex;
   flex-wrap: wrap;
}

.flex_row > div[class*='col-'] {
  display: flex;
}


.icon_action {
    margin: 0 0 0 6px;
}

.typo_code {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
    font-size: 12px;
}





/* ###########
* DIVERS
########## */

.blanc {
    color: #FFF; 
}

.black {
    color:black;
}

.cliquable {
    cursor: pointer;
}

.fond_gris {
    background-color: #f5f5f5;
}

a.full_card {
    position: absolute;
top: 0; left: 0;
height: 100%; width: 100%;
}



/* ###########
* A SUPPRIMER ? 
########## */

.well {
    background-color: #aaa;
    padding: 20px;
}


/* ###########
* POUR ESSAI
########## */

.survey {
    background-image: url(../img/survey.jpg);
    background-position: center;
}


/* ###########
* AMPLI SPECIFIQUES
########## */

.hidden_link, .hidden_link:hover {
    text-decoration: inherit;
    color: inherit;
}

.cover_180 {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.cover_300 {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pos_a {
    position: absolute;
}

.bg_transparent {
    /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
    background: rgb(0, 0, 0);
    opacity: 0.4;
}

.text_protection_top {    
    background: rgb(0, 0, 0);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 33%, rgba(0, 0, 0, 0) 100%);
    z-index: 50;
}

.text_protected {
    color: white;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    z-index: 60;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.idee_liste_vote .idee_header {
    background-color: #314145;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}



.lisible {
    line-height: 1.8; 
    padding: 20px;
    width: 100%;
    margin: 20px auto;
}

.lisible span {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff; 
    display: inline-block;
    padding: 0.5rem;
}

.max_h_180 {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
}




.idee .theme {
    font-size: 24px;
    text-transform: uppercase;
}

.idee .titre_idee {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.1;
    color: #fff;

}

.idee .likes {
    font-size: 20px;
}


.selection_idees .card-title {
    font-weight: bold;
}

.bas-de-page {
    background-color: #314145;
    color: white;
}

/*.progress {
    margin-bottom: 0;
}

progress { 
    display: inline-block; 
    height: 1em; 
    width: 10em; 
    vertical-align: -0.2em; 
    background-color: blue; 
    -webkit-block-flow: tb !important; 
}*/



@media (max-width: 575px) {
    
    .idee .theme {
        font-size: 18px;
    }
    
    .idee .titre {
        font-size: 30px;
    }
    
    .idee .p-3 {
        padding: 1rem !important;
    }
    
    .idee .lead {
        font-size: 1rem;
    }
}

@media (max-width: 768px) { 
    .grid-item { width: 100%; }
    
    .border-vid {
        border: 1px solid black;
        background: black;
    }
}




.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.6;
    color: #fff;
    background: #000 url("../img/home.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
  
  
  position:absolute;
  top:0;left:0;
  z-index:1;
}
.jumbotron {position:relative;padding:50px;}
.jumbotron .container {z-index:2;
 position:relative;
  z-index:2;
}




/* Polaroid */
	
.polaroid {
    -ms-transform: rotate(4deg); /* IE 9 */
    -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
    transform: rotate(4deg);
    position: relative;
    /*width: 220px;*/
    border: 10px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.polaroid .card-body {
    padding: 0;
}
 
.polaroid p {
  /*position: absolute;*/
  text-align: center;
  width: 100%;
  /*bottom: 0px;*/
  font: 400 18px/1;
  color: #888;
    margin: 12px 0 0 0;
}



/* PACKERY */

.idee_liste_vote .grid-item { 
    /*width: 25%; */
    width: 33.3333333333%;
    margin-bottom: 15px;
}
.idee_liste_vote .grid-item--width2 { width: 50%; } 

.idee_liste_propulse .grid-item {
    width: 33.3333333333%;
}


/* MODIFS BAUER */

.btn-xl {
    padding: 1rem 2rem;
    font-size: 2.5rem;
    line-height: 1.5;
    border-radius: .6rem;
}

/*input[type=radio]{
  position: absolute;
  visibility: hidden;
}*/

.question_score {
    min-height: 50px;
}

.btn-primary {
    color: #fff;
    background-color: #083A7D;
    border-color: #083A7D;
}

.btn-outline-primary {
    color: #083A7D;
    background-color: transparent;
    background-image: none;
    border-color: #083A7D;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #083A7D;
    border-color: #083A7D;
}

.text-primary {
    color: #083A7D!important;
}

.border-primary {
    border-color: #083A7D!important;
}

.bg-primary {
    background-color: #083A7D!important;
}

.btn-secondary {
    color: #fff;
    background-color: #343A41;
    border-color: #343A41;
}

.btn-tertiary {
    color: #fff;
    background-color: #D23F31;
    border-color: #D23F31;
}

.btn-tertiary:hover {
    color: #fff;
    background-color: #D23F31;
    border-color: #D23F31;
    box-shadow: none;
    background: rgba(0,0,0,0);
	color: #D23F31;
    
}

.text-tertiary {
    color: #D23F31!important;
}

.btn_circle {
    min-width: 31px;
    border-radius: 10rem; 
}

.gradient_azure {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    height: 200px;
}

.body_top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.button_fixed {
    position: fixed;
    bottom: 70px;
    right: 70px;
    z-index: 99;
    border-radius: 10rem;
    min-width: 70px;
    min-height: 70px;
    padding: 16px;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    transition: all 500ms ease;
}

.counter {
    position: fixed;
    top: 100px;
    right: 70px;
    z-index: 99;
    background-color: #fff;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    transition: all 500ms ease;
    text-align: center;
    font-size: 36px;
    /* disparaît sur les petits écrans */
}


.display_form {
    font-size: 2rem;
}

.category_size {
    /* le rectangle avec la catégorie en haut des cartes  */
    padding: .5rem .75rem;
    font-size: .625rem; /* 10px */
    line-height: normal;
    border-radius: .25rem; /* 4px */
}

.contribution_size {
    /* le rectangle avec les heures données en haut des cartes  */
    padding: .25rem .75rem;
    line-height: normal;
    border-radius: .25rem; /* 4px */
}

.size_bigger {
    font-size: 1.1rem; /* 17px */
}

.size_smaller {
    font-size: 0.9rem;
    line-height: 0.8!important;
}


body #forum .forum_texte {
    font-size: 0.9rem;
    line-height: 1.4;
}



.alert ul {
    margin: 0;
}

.alert {
    margin: 0;
}

.dropdown-toggle::after {
    display: none;
}



/* TINDER DES IDEES */

.button_round {
    border-radius: 10rem;
    min-width: 70px;
    min-height: 70px;
    padding: 16px;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    transition: all 500ms ease;
}

.button_round:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.hidden {
    display: none;
}

#like_area, #dislike_area {
    position: fixed;
    top: 0;
    height: 100%;
    width: 40%;
}

#like_area {
    right: 0;
}

#dislike_area {
    left: 0;
}

.carousel-cell {
  width: 100%; /* half-width */
  /*height: 160px; /* height of carousel */
  margin-right: 10px;
}

/* smaller, dark, rounded square */
.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #333;
}
.flickity-prev-next-button:hover {
  background: #F90;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: -40px;
}
.flickity-prev-next-button.next {
  right: -40px;
}





/* MODIFS MACIEL */

.vcard {
    padding: 25vh 0;
    background:#FFF; 
    color:#C9283E;
}

a .vcard:hover  {
    background:#C9283E; 
    color:#FFF;
}

.vcard .fa {
    font-size: 2.5rem; 
    padding-bottom: 2rem; 
}


/* BREAKPOINT MD */

@media (max-width: 768px) {

    .landing_page .btn-xl {
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
    }
    
    .landing_page .display-3 {
        font-size: 2rem;
    }
    
    .landing_page .type_js {
        min-height: 80px;
    }
    
    .idee_liste_vote .grid-item, .idee_liste_propulse .grid-item {
        width: 100%; 
    }
    
    .idee .titre_idee {
        font-size: 1.5rem;
    }
    
    .vcard {
        padding: 12vh 0;
    }
    
    .button_fixed {
        bottom: 15px;
        right: 15px;
        min-width: 70px;
        min-height: 70px;
        padding: 16px;
    }
    
    .counter {
        display: none;
    }

}